<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Notes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="alternate" type="application/atom+xml" title="Notes Updates (Atom)" href="/atom" />
  </head>
  <body>
    <div>
      <h1>Notes</h1>
      <ul>
        {% for note in notes %}
        <li>
          <a href="/show/{{ note.key.id }}">{{ note.author|escape}} wrote {{ note.last_updated|timesince }} ago:</a>
          <div>{{ note.rendered_content }}</div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h2>Create a note</h2>
      <form action="/create" method="post">
        <label for="author">Author</label>
        <input name="author" value=""/>
        <div style="clear:both;"/>
        <label for="content">Content</label>
        <textarea name="content" rows="8" cols="40"></textarea>
        <input type="submit" name="submit" value="Create" id="submit"/>
      </form>
    </div>
  </body>
</html>
