<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Notes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="alternate" type="application/atom+xml" title="Notes Updates (Atom)" href="/atom" />
  </head>
  <body>
    <h2>{{ note.author|escape}} wrote {{ note.last_updated|timesince }} ago:</h2>
    <div>{{ note.rendered_content}}</div>
    <a href="/">Home</a>
  </body>
</html>
